
ubuntu_ec2_public_media_server:
  provider: ec2-public
  image: ami-9a562df2
  size: c4.8xlarge
  ssh_username: ubuntu
  network_interfaces:
    - DeviceIndex: 0
      PrivateIpAddresses:
        - Primary: True
      allocate_new_eip: True
      delete_interface_on_terminate: True
      SecurityGroupId:
        - {{ http_group }}
        - {{ http_alt_group }}
        - {{ rtmp_group }}
        - {{ ssh_group }}

ubuntu_ec2_public_media_edge:
  provider: ec2-public
  image: ami-9a562df2
  size: m3.xlarge
  ssh_username: ubuntu
  network_interfaces:
    - DeviceIndex: 0
      PrivateIpAddresses:
        - Primary: True
      allocate_new_eip: True
      delete_interface_on_terminate: True
      SecurityGroupId:
        - {{ http_group }}
        - {{ http_alt_group }}
        - {{ rtmp_group }}
        - {{ ssh_group }}